In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 2023

In [62]:
df = pd.read_csv('transfermarkt_9_leagues_2023.csv')

list = df['Values']
list = [item[:-1] for item in list]

def process_strings(strings):
    cleaned_values = []
    for string in strings:
        string = string[1:]
        if string.endswith('m\xa0'):
            if '.' in string:
                string = string.replace('.', '')
            string = string.replace('m\xa0', '') + '0000'
            cleaned_values.append(int(string))
        elif string.endswith('k\xa0'):
            if '.' in string:
                string = string.replace('.', '')
            string = string.replace('k\xa0', '') + '0000'
            cleaned_values.append(int(string))
        elif string.endswith('m'):
            if '.' in string:
                string = string.replace('.', '')
            string = string.replace('m', '') + '0000'
            cleaned_values.append(int(string))
        elif string.endswith('k'):
            string = string.replace('k', '') + '000'
            cleaned_values.append(int(string))
    return cleaned_values
l = process_strings(list)

final_list = [float(element) for element in l]
df['Values'] = final_list

df = df.sort_values('Values',ascending=False)
df_2023 = df.drop_duplicates()
df_2023.head(10)

,Players,Club,Position,Age,Nationality,Values
2306,Kylian Mbappé,Paris Saint-Germain,Attack,24,France,180000000.0
27,Erling Haaland,Manchester City,Attack,22,Norway,180000000.0
600,Vinicius Junior,Real Madrid,Attack,23,Brazil,150000000.0
591,Jude Bellingham,Real Madrid,midfield,20,England,120000000.0
570,Bukayo Saka,Arsenal FC,Attack,21,England,120000000.0
1122,Victor Osimhen,SSC Napoli,Attack,24,Nigeria,120000000.0
24,Phil Foden,Manchester City,Attack,23,England,110000000.0
1742,Jamal Musiala,Bayern Munich,midfield,20,Germany,110000000.0
601,Rodrygo,Real Madrid,Attack,22,Brazil,100000000.0
592,Federico Valverde,Real Madrid,midfield,24,Uruguay,100000000.0

In [64]:
df_2023.to_csv('2023_playervalues.csv')

# 2021

In [71]:
df = pd.read_csv('transfermarkt_9_leagues_2021.csv')

list = df['Values']
list = [item[:-1] for item in list]

def process_strings(strings):
    cleaned_values = []
    for string in strings:
        string = string[1:]
        if string.endswith('m'):
            if '.' in string:
                string = string.replace('.', '')
            string = string.replace('m', '') + '0000'
            cleaned_values.append(int(string))
        elif string.endswith('k'):
            string = string.replace('k', '') + '000'
            cleaned_values.append(int(string))
    return cleaned_values
l = process_strings(list)

final_list = [float(element) for element in l]
df['Values'] = final_list

df = df.sort_values('Values',ascending=False)
df_2021 = df.drop_duplicates()
df_2021 = df_2021.rename(columns = {'Values': 'Previous Values'})
df_2021.head(10)

              Players  Previous Values
2881    Kylian Mbappé      160000000.0
2338   Erling Haaland      150000000.0
739   Vinicius Junior      100000000.0
226        Harry Kane       90000000.0
146     Mohamed Salah       90000000.0
26         Phil Foden       90000000.0
23    Kevin De Bruyne       85000000.0
177   Bruno Fernandes       85000000.0
1688   Dusan Vlahovic       85000000.0
16              Rodri       80000000.0

# Finding value difference

In [85]:
difference = pd.merge(df_2023, df_2021, on = 'Players', how = 'inner')

In [86]:
difference['dif'] = difference['Values'] - difference['Previous Values']
difference = difference.drop(['Values', 'Previous Values'], axis = 1)
difference = difference.rename(columns = {'dif' : 'Values'})
difference = difference.sort_values('Values',ascending=False)

In [87]:
difference

,Players,Club,Position,Age,Nationality,Values
36,Bruno Fernandes,Manchester United,midfield,28,Portugal,74900000.0
25,Randal Kolo Muani,Eintracht Frankfurt,Attack,24,France,64000000.0
57,Antony,Manchester United,Attack,23,Brazil,59700000.0
4,Bukayo Saka,Arsenal FC,Attack,21,England,55000000.0
5,Victor Osimhen,SSC Napoli,Attack,24,Nigeria,55000000.0
...,...,...,...,...,...,...
532,André Silva,Vitória Guimarães SC,Attack,26,Brazil,-30000000.0
516,Paul Pogba,Juventus FC,midfield,30,France,-33000000.0
58,Antony,FC Arouca,Attack,21,Brazil,-34400000.0
274,Sadio Mané,Bayern Munich,Attack,31,Senegal,-45000000.0
45,Marquinhos,Arsenal FC,Attack,20,Brazil,-58000000.0

In [88]:
difference.to_csv('difference.csv')